.env
.claude/settings.local.json

# Quickshell runtime data
arch-linux/.config/quickshell/bar-scales.json

# Discord runtime data
arch-linux/.config/discord/*
!arch-linux/.config/discord/settings.json
